
$color-principal: purple;
$color-secundario: orange;
$tamaño-caja: 500px;

body{
	background:$color-principal;
}
figure{
	img{
		position:relative;
		left:40%;
	}
}
nav{
	background: gray;
	height:	70px;
	padding:20px;

	li{
		width:100%;
		display: inline;
		position:relative;
		left:30%;
		padding:10px;
	}
}
a{
	text-decoration: none;
	font-size: 35px;
	color:white;
	padding:10px;
	background:red;
	border-radius:15px;

	&:hover{
		background:$color-principal;
	}
}

.imagen{
	background:$color-secundario;
	width: $tamaño-caja - 200px;
	height: $tamaño-caja;
	
	img{
		width: 20%;
		&:hover{
			transform:scale(2);
		}
	}

	&:hover{
		background:gray;
	}
}